In [22]:
# randomly pick the existing design, self-generated semantic matrix
import pandas as pd
import numpy as np
import pickle

### Load Real Design

In [23]:
df = pd.read_csv("simu1_data/cr_preproc_data_mturk.csv")
df

,rt,time_elapsed,subject_ID,item,lag,category,confidence,correct,correct_num,category_label,...,position,old,yes,block_type,prev_cat,prev_cat_match,prev_cat_label,prev_cat_label_match,curr_cat_length,curr_cat_label_length
0,1640.345,71781.0,120,ARM,0,Uncategorized,1.0,True,1,BodyParts,...,0,False,False,Uncategorized,NaN,NaN,NaN,False,NaN,0
1,845.750,71783.0,422,CELLO,0,Uncategorized,5.0,False,0,Instruments,...,0,False,True,Uncategorized,NaN,NaN,NaN,False,NaN,0
2,NaN,72233.0,52,HALLWAY,0,Building,NaN,False,0,Building,...,0,False,NaN,Categorized,NaN,False,NaN,False,0.0,0
3,NaN,72813.0,20,MOUNTAIN,0,Uncategorized,NaN,False,0,Landscapes,...,0,False,NaN,Uncategorized,NaN,NaN,NaN,False,NaN,0
4,NaN,73029.0,108,ROBIN,0,Uncategorized,NaN,False,0,Birds,...,0,False,NaN,Uncategorized,NaN,NaN,NaN,False,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381055,NaN,12140412.0,228,CARROT,163,Vegetables,NaN,False,0,Vegetables,...,575,True,NaN,Categorized,Landscapes,False,Landscapes,False,20.0,20
381056,NaN,12144498.0,228,GOOSE,112,Uncategorized,NaN,False,0,Birds,...,576,True,NaN,Uncategorized,Vegetables,NaN,Vegetables,False,NaN,21
381057,NaN,12148572.0,228,PEAS,68,Vegetables,NaN,False,0,Vegetables,...,577,True,NaN,Categorized,Uncategorized,False,Birds,False,21.0,21
381058,NaN,12152653.0,228,SAW,159,Tools,NaN,False,0,Tools,...,578,True,NaN,Categorized,Vegetables,False,Vegetables,False,22.0,22
381059,NaN,12156752.0,228,GIRAFFE,129,Zoo,NaN,False,0,Zoo,...,579,True,NaN,Categorized,Tools,False,Tools,False,22.0,22

In [24]:
# drop redundant columns
df = df.drop(
    [
        "rt",
        "time_elapsed",
        "correct",
        "correct_num",
        "block_type",
        "item_name",
        "prev_cat",
        "prev_cat_match",
        "prev_cat_label",
        "prev_cat_label_match",
        "curr_cat_length",
        "curr_cat_label_length",
        "confidence",
        "category",
    ],
    axis=1,
)
df

        subject_ID      item  lag category_label  position    old    yes
0              120       ARM    0      BodyParts         0  False  False
1              422     CELLO    0    Instruments         0  False   True
2               52   HALLWAY    0       Building         0  False    NaN
3               20  MOUNTAIN    0     Landscapes         0  False    NaN
4              108     ROBIN    0          Birds         0  False    NaN
...            ...       ...  ...            ...       ...    ...    ...
381055         228    CARROT  163     Vegetables       575   True    NaN
381056         228     GOOSE  112          Birds       576   True    NaN
381057         228      PEAS   68     Vegetables       577   True    NaN
381058         228       SAW  159          Tools       578   True    NaN
381059         228   GIRAFFE  129            Zoo       579   True    NaN

[381060 rows x 7 columns]

In [25]:
# drop subjects with > 250 no responses
subjlist = df.subject_ID.to_numpy()
subjlist = np.unique(subjlist)
discard = []
for subj in subjlist:
    df_subj = df.loc[df.subject_ID == subj]
    no_ans = np.isnan(df_subj.yes.to_numpy().astype("float"))
    num_no_ans = np.sum(no_ans)
    if num_no_ans > 250:
        discard.append(subj)
discard.append(200)  # additional, see David
df = df.loc[df.subject_ID.isin(discard) == False].copy()
df.drop("yes", axis=1, inplace=True)

In [26]:
# how many subjects
subjlist = df.subject_ID.to_numpy()
subjlist = np.unique(subjlist)
len(subjlist)

548

In [27]:
# add itemno
items = np.unique(df.item)
item2no = {}
for i in range(len(items)):
    item2no[items[i]] = i + 1
df["itemno"] = df.apply(lambda x: item2no[x.loc["item"]], 1)
df

        subject_ID      item  lag  category_label  position    old  itemno
4              108     ROBIN    0           Birds         0  False     220
6              536      WALL    0        Building         0  False     288
15             108    TURKEY    0     FarmAnimals         1  False     280
17             469    TABLET    0     Electronics         0  False     263
18             452  NOTEBOOK    0  OfficeSupplies         0  False     177
...            ...       ...  ...             ...       ...    ...     ...
381055         228    CARROT  163      Vegetables       575   True      43
381056         228     GOOSE  112           Birds       576   True     119
381057         228      PEAS   68      Vegetables       577   True     194
381058         228       SAW  159           Tools       578   True     228
381059         228   GIRAFFE  129             Zoo       579   True     115

[317840 rows x 7 columns]

In [28]:
# organize
df = df.sort_values(by=["subject_ID", "position"])
df = df.reset_index(drop=True)
df = df[["subject_ID", "position", "item", "itemno", "category_label", "lag", "old"]]
df

        subject_ID  position       item  itemno category_label  lag    old
0                0         0    CHICKEN      53    FarmAnimals    0  False
1                0         1  BLUEBERRY      26          Fruit    0  False
2                0         2        BUS      33       Vehicles    0  False
3                0         3      LEMON     151          Fruit    0  False
4                0         4     OYSTER     187   OceanAnimals    0  False
...            ...       ...        ...     ...            ...  ...    ...
317835         656       575       COLA      60      Beverages   37   True
317836         656       576   BASEBALL      10           Toys  115   True
317837         656       577        TEA     265      Beverages   24   True
317838         656       578      RADIO     213    Electronics   41   True
317839         656       579      FINCH      99          Birds   81   True

[317840 rows x 7 columns]

### Design

In [29]:
rng = np.random.default_rng(seed=42)
simu_sess_num = 1000

subjectlist = np.unique(df.subject_ID)
sess = rng.choice(subjectlist, simu_sess_num)
sess

array([ 64, 518, 432, 285, 280, 572,  63, 466, 134,  67, 344, 642, 493,
       510, 480, 526, 337,  90, 561, 292, 328, 243, 123, 611, 524, 426,
       262, 551, 357, 287, 292, 148,  66, 362, 590,  47, 572, 554, 180,
       419, 111, 508, 467, 232,  50, 639, 289, 593, 451, 521, 509, 130,
       237, 307, 326,  32, 358, 105, 499, 454, 609, 501, 239, 638, 267,
       214, 600, 243,  55, 309, 533, 126, 304,  91, 457, 312, 216, 148,
       369, 446, 620, 282, 109, 557, 417, 467,  69, 207, 514, 557, 281,
       538, 562, 254, 596, 189, 157, 454, 421,  96, 557, 133, 538,   5,
       533, 527, 523, 441, 310, 470, 180, 523, 363, 301, 332, 371,  27,
        96, 161,  79, 285, 445, 432, 310, 570, 369,  58, 513, 377, 420,
       369, 362,  65, 366, 532, 199, 397,  19, 227, 282, 646, 141, 180,
       265, 652, 568,  23, 153, 551,  43, 570, 184, 606, 192, 281, 438,
        89, 365, 331, 525, 654, 441, 266, 264, 271, 545, 212, 112, 219,
        14,  74,  65, 516, 482, 465, 304, 478, 109, 597, 328, 619, 104,
       326, 465, 325, 289, 112, 249, 156, 198, 454, 417, 399, 236, 630,
        64, 223,  81, 221, 634, 239, 601, 325, 467, 300, 173, 512, 639,
       172, 521, 171, 478, 529, 292, 493, 178,  58,  68, 289, 598,  89,
       296, 469, 134, 482, 201, 541, 381, 358, 117, 304, 571,  11, 508,
       324, 481, 440, 279, 205, 415,  96, 384,  67, 430, 416,  61, 508,
       269, 527,  29, 119, 324, 126, 216, 438, 100, 451,  72, 117, 386,
       531, 114, 197, 610, 651, 382, 289, 227, 404, 387, 193,  14, 104,
       630, 271, 317, 307, 524,  48,  60, 180, 319, 446, 322, 286, 617,
       109, 374, 356, 311, 539, 174, 627, 217, 357, 341, 566, 285, 185,
        12, 237, 553,   6, 595, 356,  96, 198, 362, 208,  76, 441, 447,
        83, 184, 160, 436, 487, 485, 619, 515, 211,  76, 405, 605, 642,
       150, 155,  27,  97, 363, 358, 243, 205, 555, 302, 539, 634, 209,
       135, 627, 420, 190, 411, 338, 600, 168, 652, 616, 121, 111, 348,
        32, 196, 281, 639, 652, 104, 592,  65, 503, 564, 592, 146, 593,
        80, 340, 309, 209,  14, 517, 219, 438, 266, 244, 589,  67, 493,
       502, 249, 171,   2, 617, 624, 159,  21,  87,  50, 556, 592, 104,
       502, 119, 240, 395, 481, 583,  32, 131, 183, 206, 655, 521, 211,
       640, 327, 328, 280,  98, 616,   8, 116, 149, 183,  92,  10, 451,
       639,  85, 195, 332, 612, 464, 513, 382, 270, 133, 576, 537,  16,
       478,  61, 494, 553,  91, 280,  87, 370, 612,  59, 259, 641, 197,
        92, 321, 333, 440, 207, 628, 341, 186, 632, 610, 327,  16, 393,
       363, 102, 420, 561,  74, 483,  96, 503, 271,   3, 636, 111, 392,
       121, 615, 494, 537, 279, 308, 420, 526, 565,  10, 440,  76, 187,
       555, 164, 533, 304, 152, 219, 346, 513, 399, 615, 578, 505, 397,
       189, 268,  83, 245, 611, 276,  79, 431, 634, 578, 179, 295, 346,
       162, 175, 155, 654, 501, 561, 546, 630,  73, 587,  49, 312, 391,
       234, 101, 128, 552, 210, 206, 610,  98, 605, 608, 395, 111, 106,
       186, 380, 105, 296,  80, 355,  12, 472,  42, 130, 116, 556,  41,
       278, 387, 338, 453, 537, 257, 554, 210, 648, 331, 493, 583, 531,
       567, 352,  31, 324, 121, 591, 155, 148, 163, 426, 374, 624, 270,
       184,  37,   3, 244, 611, 343, 593,  71,  67, 557,  74,  40, 263,
       610, 460,  70, 559, 563, 535, 598, 157, 644, 211, 536, 381, 523,
       416, 426, 406, 521, 494,  93, 553, 351, 213, 337, 636, 571, 557,
       304, 525, 253, 457, 424, 163, 174,  46,  96, 280, 313, 111, 270,
       398, 152, 221, 240, 331, 239, 493, 215, 280, 248, 123, 456, 155,
       195, 531, 624, 446, 606, 570, 316, 516, 215, 302, 351, 632, 566,
       322, 431, 134, 537, 362, 347, 513, 419,  53, 187, 117, 489,  23,
       134, 393, 464, 329, 573, 607,  92, 626, 405, 421,  68, 411, 484,
       382,  61, 342, 616, 483,  95, 632, 630, 113, 535, 264, 391, 288,
       524, 655, 532, 614, 623,  65, 165, 482, 387,  39,  68, 341, 406,
       112, 114,  90, 369,   5, 374, 312, 307, 452, 342, 485, 512, 608,
       534, 339, 323, 155, 395,  96, 614, 564,  83, 526,  81, 482,  64,
       321, 434, 486, 271, 609, 518, 138, 446, 487, 218, 494, 596, 546,
       510, 420, 176, 532, 237, 347, 208, 207, 107, 632, 101,  63, 616,
       363, 282, 494, 252,  90, 486, 117, 362, 625, 617, 235, 523, 404,
       314,  96, 247, 431, 649,   2, 480, 564, 626, 275,  81, 176, 567,
       585, 423,  87,  85, 314, 386,  21, 456, 357,   7,  68, 295, 482,
       553, 279, 193, 638, 301, 208, 287,   7, 198, 338, 607, 494, 524,
       357,  77, 256, 655,  32, 585, 456, 185, 521, 559,  31,  74, 441,
       656,  16, 441,  94, 430, 412,  65, 453, 595, 576,  18, 161, 157,
       295,  98, 570, 519, 539, 132,   8, 603, 189, 433, 602,  23,   2,
         2, 106,  40, 550, 399, 645, 536, 634, 156, 187, 566, 161,  43,
       445, 535, 638, 612,  83, 517, 564, 466, 550, 560, 289,  29, 296,
       134,  79,  88, 466, 331, 354, 501, 359, 417,  63, 567, 291, 106,
       543, 489,  41, 128,   9, 176,  70, 475, 342, 645, 503, 404, 334,
        41,  51, 406,   2,  31, 144, 588, 301, 472, 267, 115, 243,  66,
       516, 123, 247, 645, 389, 301, 356, 525, 166, 421, 582, 374, 289,
       100, 163, 623, 355, 198, 271, 380, 352, 467, 169, 429, 287, 620,
       107, 102, 302, 333, 461, 263, 604, 311,  90,  83, 641,  93, 624,
       181,  67, 199, 405, 277, 526, 403, 261, 420, 640, 267, 105, 266,
       561, 143, 625, 386, 396, 209, 608,  23, 196, 271, 313, 311, 102,
       147,  68, 374, 229, 370, 387, 468, 358, 429, 385, 431, 406, 209,
       161, 527, 223, 359, 131, 279, 346, 415, 344, 235, 634, 335])

In [30]:
df_test = pd.DataFrame()
for i in range(len(sess)):
    tmp = df.loc[df.subject_ID == sess[i], :].copy()
    tmp["session"] = i
    df_test = pd.concat([df_test, tmp])
df_test = df_test.reset_index(drop=True)
df_test["study_itemno1"] = df_test["itemno"]
df_test["study_itemno2"] = -1
df_test["test_itemno1"] = df_test["itemno"]
df_test["test_itemno2"] = -1
df_test

,subject_ID,position,item,itemno,category_label,lag,old,session,study_itemno1,study_itemno2,test_itemno1,test_itemno2
0,64,0,ERASER,96,OfficeSupplies,0,False,0,96,-1,96,-1
1,64,1,PEN,196,OfficeSupplies,0,False,0,196,-1,196,-1
2,64,2,PENCIL,197,OfficeSupplies,0,False,0,197,-1,197,-1
3,64,3,VAN,285,Vehicles,0,False,0,285,-1,285,-1
4,64,4,LETTUCE,153,Vegetables,0,False,0,153,-1,153,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
579995,335,575,PAPER,190,OfficeSupplies,0,False,999,190,-1,190,-1
579996,335,576,FORK,110,KitchenTools,0,False,999,110,-1,110,-1
579997,335,577,NOTEBOOK,177,OfficeSupplies,0,False,999,177,-1,177,-1
579998,335,578,DOLLHOUSE,81,Toys,0,False,999,81,-1,81,-1
579999,335,579,SLINKY,241,Toys,0,False,999,241,-1,241,-1

In [31]:
# save
with open("simu1_data/simu1_design.pkl", "wb") as outp:
    pickle.dump(df_test, outp, pickle.HIGHEST_PROTOCOL)