In [3]:
# randomly pick the existing design, self-generated random semantic matrix
import numpy as np
import pandas as pd
import pickle

### Load Real Design

In [4]:
df = pd.read_table("simu2_data/RN2_Pix.dat", sep="\s+", names=['subject','session','list','recog_pos','picture','category','study_pos','old_lag','study_lag','confidence','rt'])
df

,subject,session,list,recog_pos,picture,category,study_pos,old_lag,study_lag,confidence,rt
0,103,1,0,1,VA084,_OLD_,6,-999,59,6,705
1,103,1,0,2,GBEN253,_OLD_,5,-1,61,6,936
2,103,1,0,3,ONTO011,_OLD_,3,-2,64,6,678
3,103,1,0,4,ISBO1,_NEW_,-99,-999,-9999,4,1461
4,103,1,0,5,PAGETT11,_OLD_,38,-999,31,5,1799
...,...,...,...,...,...,...,...,...,...,...,...
69883,99,1,5,124,CHN639,_NEW_,-99,-999,-9999,4,1460
69884,99,1,5,125,CT173,_OLD_,39,-999,150,2,1040
69885,99,1,5,126,GRTO2,_NEW_,-99,-999,-9999,2,1269
69886,99,1,5,127,GR022,_OLD_,46,-999,145,1,887
69887,99,1,5,128,VNDPGCC,_OLD_,44,-2,148,2,1154

In [5]:
# pic to itemno & old
pics = np.unique(df.picture)
pic2itemno = {}
for i in range(len(pics)):
    pic2itemno[pics[i]] = i + 1

itemnos = []
for pic in df.picture:
    itemnos.append(pic2itemno[pic])

df['itemno'] = itemnos
df['old'] = df.category == '_OLD_'
df = df.sort_values(by = ['subject','list','recog_pos'])
df

,subject,session,list,recog_pos,picture,category,study_pos,old_lag,study_lag,confidence,rt,itemno,old
36096,37,1,0,1,CHN211,_OLD_,9,-999,56,6,1053,195,True
36097,37,1,0,2,GBEN655,_OLD_,55,46,11,2,2306,493,True
36098,37,1,0,3,ECU104,_OLD_,52,-3,15,3,1457,376,True
36099,37,1,0,4,MXACP4,_OLD_,47,-5,21,1,2333,998,True
36100,37,1,0,5,CHN118,_NEW_,-99,-999,-9999,1,1704,184,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36091,172,1,5,124,JEROCTWL,_NEW_,-99,-999,-9999,2,1076,801,False
36092,172,1,5,125,THA064,_NEW_,-99,-999,-9999,6,808,1335,False
36093,172,1,5,126,RI003,_OLD_,28,-999,162,4,999,1245,True
36094,172,1,5,127,IND117,_NEW_,-99,-999,-9999,2,1114,747,False
36095,172,1,5,128,HIO042,_NEW_,-99,-999,-9999,2,923,640,False

In [7]:
# organize
df = df.drop(columns=['session','picture','category','confidence','rt'])
df = df[['subject', 'list', 'recog_pos', 'itemno', 'old', 'old_lag', 'study_pos', 'study_lag']]
df

       subject  list  recog_pos  itemno    old  old_lag  study_pos  study_lag
36096       37     0          1     195   True     -999          9         56
36097       37     0          2     493   True       46         55         11
36098       37     0          3     376   True       -3         52         15
36099       37     0          4     998   True       -5         47         21
36100       37     0          5     184  False     -999        -99      -9999
...        ...   ...        ...     ...    ...      ...        ...        ...
36091      172     5        124     801  False     -999        -99      -9999
36092      172     5        125    1335  False     -999        -99      -9999
36093      172     5        126    1245   True     -999         28        162
36094      172     5        127     747  False     -999        -99      -9999
36095      172     5        128     640  False     -999        -99      -9999

[69888 rows x 8 columns]

### Design

In [8]:
rng = np.random.default_rng(seed=42)
simu_sess_num = 1000
simu_old_num = 64
simu_new_num = 64

subj_unique = np.unique(df.subject)
sess = rng.choice(subj_unique, simu_sess_num)
sess

array([ 50, 137, 123,  95,  95, 153,  49, 127,  65,  50, 109, 169, 131,
       136, 130, 138, 105,  56, 147,  96, 104,  86,  63, 164, 138, 122,
        90, 143, 112,  96,  96,  68,  50, 113, 157,  46, 153, 146,  74,
       121,  62, 134, 127,  85,  47, 169,  96, 158, 125, 137, 136,  64,
        86,  98, 104,  41, 112,  60, 133, 126, 163, 133,  86, 169,  92,
        81, 160,  86,  47,  98, 140,  64,  98,  56, 126,  99,  82,  68,
       114, 124, 165,  95,  60, 146, 121, 127,  50,  80, 136, 146,  95,
       141, 147,  89, 158,  75,  69, 126, 121,  57, 146,  65, 141,  37,
       140, 138, 138, 124,  98, 128,  74, 138, 113,  97, 105, 114,  41,
        57,  70,  54,  96, 124, 123,  98, 151, 114,  49, 136, 116, 121,
       114, 113,  50, 113, 140,  79, 118,  39,  84,  95, 171,  67,  74,
        92, 172, 151,  41,  69, 143,  46, 151,  74, 163,  75,  95, 124,
        56, 113, 104, 138, 172, 124,  92,  90,  94, 143,  81,  62,  82,
        39,  51,  50, 137, 130, 127,  98, 130,  60, 158, 104, 165,  59,
       104, 127, 104,  96,  62,  87,  69,  79, 126, 121, 119,  85, 168,
        49,  84,  54,  82, 168,  86, 160, 104, 127,  97,  73, 136, 169,
        72, 137,  72, 130, 138,  96, 133,  73,  49,  50,  96, 160,  56,
        97, 128,  65, 130,  79, 141, 116, 112,  63,  98, 151,  38, 136,
       103, 130, 124,  95,  80, 121,  57, 117,  50, 123, 121,  49, 134,
        92, 138,  41,  63, 103,  64,  82, 124,  59, 125,  51,  62, 117,
       140,  62,  79, 164, 172, 116,  96,  84, 119, 117,  75,  39,  59,
       168,  94,  99,  98, 138,  46,  49,  74, 103, 125, 103,  96, 165,
        60, 116, 112,  99, 141,  73, 167,  82, 112, 109, 151,  95,  74,
        38,  86, 146,  37, 158, 112,  57,  79, 113,  80,  51, 124, 125,
        54,  74,  70, 124, 131, 131, 165, 136,  81,  51, 119, 163, 169,
        68,  69,  41,  57, 113, 112,  86,  80, 146,  97, 141, 168,  80,
        65, 167, 121,  75, 120, 105, 160,  72, 172, 165,  63,  60, 110,
        45,  79,  95, 169, 172,  59, 158,  50, 134, 147, 158,  68, 158,
        54, 109,  98,  80,  39, 137,  82, 124,  92,  87, 157,  50, 133,
       133,  87,  72,  37, 165, 167,  69,  39,  56,  47, 146, 158,  59,
       133,  63,  86, 118, 130, 154,  45,  64,  74,  80, 172, 137,  81,
       169, 104, 104,  95,  59, 165,  38,  62,  68,  74,  56,  38, 125,
       169,  56,  75, 105, 164, 127, 136, 116,  92,  65, 153, 141,  39,
       130,  49, 133, 146,  56,  95,  56, 114, 164,  49,  90, 169,  79,
        57, 103, 105, 124,  80, 167, 109,  75, 168, 164, 104,  39, 118,
       113,  59, 121, 147,  51, 130,  57, 134,  94,  37, 168,  62, 118,
        63, 164, 133, 141,  95,  98, 121, 138, 151,  38, 124,  51,  75,
       146,  70, 140,  98,  69,  82, 110, 136, 119, 164, 153, 134, 118,
        75,  92,  54,  87, 164,  94,  54, 123, 168, 153,  73,  97, 110,
        70,  73,  69, 172, 133, 147, 143, 168,  51, 157,  47,  99, 118,
        85,  59,  64, 146,  81,  80, 164,  59, 163, 163, 118,  62,  60,
        74, 116,  59,  97,  54, 112,  38, 128,  46,  64,  62, 146,  45,
        95, 117, 105, 125, 141,  89, 146,  80, 171, 104, 131, 154, 140,
       151, 110,  41, 103,  63, 157,  69,  68,  70, 122, 114, 167,  92,
        74,  45,  37,  86, 164, 109, 158,  51,  50, 146,  51,  45,  90,
       164, 126,  51, 147, 147, 140, 160,  69, 171,  81, 140, 116, 137,
       121, 122, 120, 137, 133,  57, 146, 110,  81, 105, 168, 153, 146,
        98, 138,  89, 126, 122,  70,  73,  46,  57,  95,  99,  62,  92,
       118,  69,  82,  86, 104,  86, 133,  81,  95,  87,  63, 126,  69,
        79, 140, 167, 125, 163, 151,  99, 137,  81,  97, 110, 168, 151,
       103, 123,  65, 141, 113, 110, 136, 121,  47,  75,  63, 131,  41,
        65, 118, 127, 104, 153, 163,  57, 167, 119, 121,  50, 120, 131,
       116,  49, 109, 165, 130,  57, 168, 168,  62, 140,  92, 118,  96,
       138, 172, 140, 164, 167,  50,  72, 130, 117,  45,  50, 109, 120,
        62,  62,  56, 114,  37, 116,  99,  98, 125, 109, 131, 136, 163,
       140, 109, 103,  69, 118,  57, 164, 147,  54, 138,  54, 130,  49,
       103, 123, 131,  94, 163, 137,  65, 125, 131,  82, 133, 158, 143,
       136, 121,  73, 140,  86, 110,  80,  80,  60, 168,  59,  49, 165,
       113,  95, 133,  87,  56, 131,  63, 113, 167, 165,  85, 138, 119,
        99,  57,  87, 123, 171,  37, 130, 151, 167,  94,  54,  73, 151,
       154, 121,  56,  56,  99, 117,  39, 126, 112,  38,  50,  97, 130,
       146,  95,  75, 169,  97,  80,  96,  38,  79, 105, 163, 133, 138,
       112,  54,  89, 172,  45, 157, 126,  74, 137, 147,  41,  51, 124,
       172,  39, 124,  57, 123, 120,  50, 125, 158, 153,  39,  70,  69,
        97,  59, 151, 137, 141,  65,  38, 160,  75, 123, 160,  41,  37,
        37,  60,  45, 143, 119, 171, 140, 168,  69,  75, 151,  70,  46,
       124, 140, 169, 164,  54, 137, 147, 127, 143, 147,  96,  41,  97,
        65,  54,  56, 127, 104, 112, 133, 112, 121,  49, 151,  96,  60,
       143, 131,  45,  64,  38,  73,  51, 128, 109, 171, 134, 119, 105,
        45,  47, 120,  37,  41,  67, 157,  97, 128,  92,  62,  86,  50,
       137,  63,  87, 171, 117,  97, 112, 138,  72, 121, 154, 116,  96,
        59,  70, 167, 112,  79,  94, 116, 110, 127,  72, 123,  96, 165,
        60,  59,  98, 105, 126,  90, 163,  99,  56,  54, 169,  57, 167,
        74,  50,  79, 119,  94, 138, 119,  90, 121, 169,  92,  59,  92,
       147,  67, 167, 117, 118,  80, 163,  41,  79,  94,  99,  99,  59,
        68,  50, 116,  84, 114, 117, 127, 112, 122, 117, 123, 120,  80,
        70, 138,  84, 112,  64,  95, 110, 120, 109,  85, 168, 105])

In [9]:
df_study = pd.DataFrame()
df_test = pd.DataFrame()

for i in range(len(sess)):
    tmp = df.loc[df.subject == sess[i]].copy()
    tmp["session"] = i
    
    df_test = pd.concat([df_test, tmp])
    
    tmp_study = tmp.loc[tmp.old == True].copy()
    tmp_study = tmp_study.sort_values(by = ['list', 'study_pos'])
    df_study = pd.concat([df_study, tmp_study])
    
df_study.reset_index(drop = True, inplace = True)
df_test.reset_index(drop = True, inplace = True)

In [10]:
df_study = df_study.drop(columns=['recog_pos', 'old', 'old_lag','study_lag'])
df_study

        subject  list  itemno  study_pos  session
0            50     0    1328          1        0
1            50     0     768          2        0
2            50     0     518          3        0
3            50     0      21          4        0
4            50     0     914          5        0
...         ...   ...     ...        ...      ...
383995      105     5     485         60      999
383996      105     5     744         61      999
383997      105     5     484         62      999
383998      105     5     508         63      999
383999      105     5    1316         64      999

[384000 rows x 5 columns]

In [11]:
df_test

,subject,list,recog_pos,itemno,old,old_lag,study_pos,study_lag,session
0,50,0,1,490,True,-999,52,13,0
1,50,0,2,541,True,9,61,5,0
2,50,0,3,1066,False,-999,-99,-9999,0
3,50,0,4,942,True,-999,34,34,0
4,50,0,5,1464,False,-999,-99,-9999,0
...,...,...,...,...,...,...,...,...,...
767995,105,5,124,371,True,18,45,143,999
767996,105,5,125,1259,False,-999,-99,-9999,999
767997,105,5,126,382,True,-999,46,144,999
767998,105,5,127,1295,True,-45,1,190,999
767999,105,5,128,234,True,40,41,151,999

In [12]:
with open('simu2_data/simu2_design.pkl', 'wb') as outp:
    pickle.dump(df_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_test, outp, pickle.HIGHEST_PROTOCOL)