In [1]:
# to generate w2v for 984 words, from Ada's 1638 words matrix
import scipy.io
import numpy as np
import pickle
import pandas as pd
from striprtf.striprtf import rtf_to_text
import ast

In [2]:
with open("../wordpools/ltpFR_words.rtf", "r") as file:
    content = file.read()
    text = rtf_to_text(content)

In [3]:
words = ast.literal_eval(text.split("\n")[2])
len(words)

1638

In [4]:
w2v = np.load("../wordpools/ltp_FR_similarity_matrix.npy")

In [5]:
with open("simu4_data/simu4_word_freq.pkl", "rb") as inp:
    df = pickle.load(inp)
df

          item  itemno_old  itemno  freq  quantile
0      ABDOMEN           1       1   110         2
1      ACROBAT           4       2    17         0
2        ADULT           8       3   906         8
3        ALLEY          15       4   165         4
4    ALLIGATOR          16       5    12         0
..         ...         ...     ...   ...       ...
979       YOKE        1632     980    12         0
980       YOLK        1633     981    47         1
981      YOUTH        1634     982  1159         8
982     ZIPPER        1636     983    24         0
983        ZOO        1637     984   156         3

[984 rows x 5 columns]

In [6]:
# only doughnut is replaced with donut, check the index is right
print(words.index("DONUT"))
df.loc[df.item == "DOUGHNUT"]

489

         item  itemno_old  itemno  freq  quantile
279  DOUGHNUT         490     280    20         0

In [7]:
select_idx = df.itemno_old.to_numpy() - 1
w2v_new = w2v[np.ix_(select_idx, select_idx)]
w2v_new

array([[ 1.        ,  0.043753  ,  0.0616273 , ...,  0.0960546 ,
         0.21163701,  0.1202751 ],
       [ 0.043753  ,  1.        ,  0.1883112 , ...,  0.0656027 ,
         0.14024679,  0.14679889],
       [ 0.0616273 ,  0.1883112 ,  1.        , ...,  0.38248011,
         0.13602901,  0.2249108 ],
       ...,
       [ 0.0960546 ,  0.0656027 ,  0.38248011, ...,  1.        ,
        -0.0149595 ,  0.1125602 ],
       [ 0.21163701,  0.14024679,  0.13602901, ..., -0.0149595 ,
         1.        ,  0.0480661 ],
       [ 0.1202751 ,  0.14679889,  0.2249108 , ...,  0.1125602 ,
         0.0480661 ,  1.        ]])

In [8]:
np.save("simu4_data/simu4_smat.npy", w2v_new)